.w-50 {
    width: 50%;
}

.d-flex {
    display: flex;
}

.a-center {
    align-items: center;
}

.bg-dark-toska {
    background: #278EA5;
}

.side-panel-menu {
    /* width: 254px; */
    /* padding: 20px 20px; */
    color: #fff;
    height: 100%;
    z-index: 10;
}

.px-20px{
    padding-left: 20px;
    padding-right: 20px;;
}

.pt-20{
    padding-top: 20px;
}

.pb-20{
    padding-bottom: 20px;
}

.img-responsive {
    width: 100%;
    height: auto;
}

.profile-picture {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    transition: all .5s;
}

.w-85 {
    width: 85%;
}

.border-2px {
    border: 2px solid;
}

.border-color-blue {
    border-color: #1597E5;
}

.text-blue {
    color: #1597E5;
}

.save-btn-1 {
    background: #6ECB63;
    padding-top: 1px;
    color: #fff;
}

/* ====== custome radio with div ========= */

.radio-course {
    display: block;
}

.radio-course>input {
    /* HIDE RADIO */
    visibility: hidden;
    /* Makes input not-clickable */
    position: absolute;
    /* Remove input from document flow */
}

.radio-course>input+div {
    /* DIV STYLES */
    cursor: pointer;
    border: 2px solid transparent;
}

.radio-course>input:checked+div {
    /* (RADIO CHECKED) DIV STYLES */
    background-color: rgba(57, 189, 200, 0.2);
}

/* ====== custome radio with div ========= */

.option-course.active {
    background: rgba(57, 189, 200, 0.2);
}

.option-teacher.active {
    background: rgba(57, 189, 200, 0.2);
}

.option-class.active {
    background: rgba(57, 189, 200, 0.2);
}

.btn-add-course {
    border-color: #09565d;
    color: #09565d;
    background: #fff;
    transition: all .2s;
}

.btn-add-course:hover {
    border-color: #fff;
    color: #fff;
    background: #09565d;
    transition: all .2s;
}

.custom-scroll-y::-webkit-scrollbar {
    width: 10px;
}

.custom-scroll-y::-webkit-scrollbar-track {
    background: #fff;
}

.custom-scroll-y::-webkit-scrollbar-thumb {
    background: #d5d4d4;
    border-radius: 5px;
}

.custom-scroll-y::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.text-navi {
    color: #3D6CB9;
}

.hover-gray:hover {
    background: #e5e5e5;
}

.scroll-y {
    overflow-y: scroll;
}

.border-bottom-gray {
    border-bottom: 1px solid #e5e5e5;
}

.box-course-create {
    border: 2px solid #09565d;
    border-radius: 5px;
    padding: 21px;
    height: 100%;
    background: #fff;
}

.mr-10 {
    margin-right: 10px;
}

.view-session {
    border: 1px solid #3D6CB9;
    width: 169px;
    border-radius: 5px;
    padding: 7px 10px;
}

.accordion-button-none::after {
    background-image: none;

}

.text-center {
    text-align: center;

}

.text-white {
    color: #fff;
}

.text-decoration-none {
    text-decoration: none;
}

.fs-25 {
    font-size: 25px;
}

.fs-20 {
    font-size: 20px;
}

.fs-18 {
    font-size: 18px;
}

.ml-20 {
    margin-left: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.w-25px {
    width: 25px;
}

.mb-10 {
    margin-bottom: 10px;
}

.overflow-hidden {
    overflow: hidden;
}

.ml-70 {
    margin-left: 70px;
}

.cursor-pointer {
    cursor: pointer;
}

.text-right {
    text-align: right;
}

.w-200px {
    width: 200px;
}

.card-box {
    background: #09565d;
    border-radius: 5px;
    padding: 4px 14px;
    color: #fff;
    height: 90px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.card-box div:nth-child(1){
    width: 100%;
    font-size: 16px;
}
.card-box div:nth-child(2){
    width: 100%;
    text-align: end;
    font-size: 14px;
}

.card-box.active{
    background: #fff;
    color: #09565d;
    border: 2px solid #09565d;
}

.w-auto {
    width: auto;
}

.h-100 {
    height: 100%;
}

.monserrta-font{
    font-family: 'Montserrat', sans-serif;
}

.card-shadow{
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

.border-radius-5px{
    border-radius: 5px;
}

.border-radius-8px{
    border-radius: 8px;
}

.bg-hijau-tua{
    background: #09565d;
}

.color-hijau-tua{
    color: #09565d;
}

body{
    background-color: #e6f3f3;
}

.bg-biru-muda{
    background: #b2dad9;
}

.color-biru-muda{
    color: #b2dad9;
}

.bg-hijau-muda{
    background: #96b0b0;
}

.color-hijau-muda{
    color: #96b0b0;
}

.side-panel-active{
    background: #b2dad9;
    color: #09565d;
    width: 100%;
    /* margin-left: -20px;
    padding-left: 20px; */
}

.side-panel-active a{
    color: #09565d !important;
}

.side-panel-hover{
    border-left: 0;
    transition: all .2;
}

.side-panel-hover:hover{
    border-left: 5px solid #b2dad9;
}

/* ======= effect side panel resize ========== */

.resize-side-panel {
    overflow: hidden;
    width: 60px;
    transition: width .5s;
    position: fixed;
}

.resize-side-panel:hover {
    width: 254px;
}

.resize-side-panel .profile-picture {
    width: 40px;
    height: 40px;
}

.resize-side-panel .profile-wrapper {
    margin-left: -10px;
    transition: all .5s;
}

.resize-side-panel:hover .profile-wrapper {
    margin-left: 0px;
}

.resize-side-panel:hover .profile-picture {
    width: 150px;
    height: 150px;
}

.resize-side-panel .text-profile {
    position: relative;
    top: -80px;
    transition: all .5s;

}

.resize-side-panel:hover .text-profile {
    top: 0;
}

.edit-prof-wrap {
    height: 21px;
    overflow: hidden;
}


/* ======= end effect side panel resize ========== */

.pos-relative {
    position: relative;
}

.pos-absolute {
    position: absolute;
}

.visible-password {
    position: absolute;
    right: 15px;
    top: 35px;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

/* ======= start effect register and login  ========== */
.register {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    /* background-color: #f5f5f5; */
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin input {
    border-radius: 0;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
}

.form-signin input[type="password"] {
    margin-bottom: -1px;
}

/* ======= end effect register and login ========== */
